h1, h2{
	color:blue;
	font-family:"merriweather";
	
}
h3{
	color:green;
}
	
p {
	color:black;
	font-family:"Barlow";
	font-size:16px;
	
}
img {
	width:20%;
	height:auto;
	border-radius:30%;
	border: 1px solid black;
	padding: 5px;
	display:block;
	margin-left: auto;

}